<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Menu</title>
    <link rel="icon" href="/public/media/istockphoto-843213562-612x612.png" type="image/icon type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/menu.css'>
</head>
<body style="background-color: rgb(154, 173, 173);">

    <nav>
        <div class="menu">
            <div class="logo">
                <img src="/public/media/istockphoto-843213562-612x612.png" style="height: 70px; width: 70px; margin-right: -40px; margin-top: -5px;    margin-bottom: -6px;">
                <a href="/api/pizza/home">pizza</a>
              </div>
              <ul>
                <li><a href="/api/pizza/home">Home</a></li>
                <li><a href="/api/pizza/about">About</a></li>
                <li><a href="/api/pizza/menu">Menu</a></li>
                <li><a href="/api/pizza/contact">Contact</a></li>
                <li><a href="/api/pizza/profile">Profile</a></li>
                <li><a href="/api/pizza/shoppingcart"> <div id="cart-btn" class="fas fa-shopping-cart"></div></a> </li>
                <li><a href="/api/pizza/logout"> <div class="fa fa-sign-out"></div></a> </li>
               </ul>
        </div>
      </nav>
      <div class="food-menu-container ">
      <% pizzas.forEach((pizza)=> { %>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="<%= pizza.img_path %>" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile"> <%= pizza.pizzaName %></h2>
                   
                    <p class="food-price">Price: &#8377; <%= pizza.pizzaPrice %> </p>
                    <form action="/api/pizza/addCart" method="post">
                        <input type="number" min="1" max="100" class="qty" name="qty">
                        <input type="hidden" name="pizza_id" value="<%= pizza.Pizzaid %>">
                        <input type="hidden" name="pizza_name" value="<%= pizza.pizzaName %>">
                        <input type="hidden" name="pizza_img" value="<%= pizza.img_path %>">
                        <input type="hidden" name="pizza_price" value="<%= pizza.pizzaPrice %>">
                        <input type="submit" value="add to cart" name="add_to_cart" class="btn">
                     </form>
                </div>
            </div>
        <% }) %>
    </div>
    <footer style="text-align: center; color: white; background-color: #1b1b1b;">
        @Copyright Amal2023
       </footer>
</body>
</html>
 